:host {
  perspective: 2400px;
  perspective-origin: 75% -280px;
  transform-style: preserve-3d;
  flex-grow: 1;
  align-self: stretch;
}

.stack {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotateX(90deg) rotate(18deg) translateZ(180px) translateX(30%) translateY(180px);
  height: 100%;
}

.board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.board.top { transform: translateZ(75px); }

.board.middle { }

.board.bottom { transform: translateZ(-75px); }

.shadow {
  background: #ddd;
  width: 720px;
  height: 480px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-280px);
  -webkit-filter: blur(8px);
}
