<div class="stack">

  <div class="board top" [@topBoardEnter]>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

  <div class="board middle" [@midBoardEnter]>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

  <div class="board bottom" [@btmBoardEnter]>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

  <div class="shadow" [@shadowEnter]></div>

</div>
