<div class="stack">

  <div class="board top" [@topBoardEnter]>
    <app-cuboid *ngFor="let item of salesElements"
      [color]="'#cf1945'"
      [highlight]="isHighlighted(item)"
      [text]="item.name"></app-cuboid>
  </div>

  <div class="board middle" [@midBoardEnter]>
    <app-cuboid *ngFor="let item of operationalElements"
      [color]="'#2f2f4c'"
      [highlight]="isHighlighted(item)"
      [text]="item.name"></app-cuboid>
  </div>

  <div class="board bottom" [@btmBoardEnter]>
    <app-cuboid [color]="'#282123'"></app-cuboid>
    <app-cuboid [color]="'#282123'"></app-cuboid>
    <app-cuboid [color]="'#282123'"></app-cuboid>
    <app-cuboid [color]="'#282123'"></app-cuboid>
    <app-cuboid [color]="'#282123'"></app-cuboid>
    <app-cuboid [color]="'#282123'"></app-cuboid>
  </div>

  <div class="shadow" [@shadowEnter]></div>

</div>
