<div class="stack">

  <div class="board top">
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

  <div class="board middle">
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

  <div class="board bottom">
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
    <cuboid></cuboid>
  </div>

</div>
