:host {
  perspective: 2400px;
  perspective-origin: 75% -280px;
  transform-style: preserve-3d;
  flex-grow: 1;
  align-self: stretch;
}

.stack {
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: rotateX(90deg) rotate(18deg) translateZ(180px) translateX(240px) translateY(180px);
  height: 100%;
}

.board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 720px;
  transform-origin: center center;
  transform-style: preserve-3d;
}

.board.top {
  transform: translateZ(75px);
  // cuboid /deep/ .face {
  //   background: #cf1945;
  //   border-color: darken(#cf1945, 20%);
  // }
}

.board.middle {
  // cuboid /deep/ .face {
  //   background: #2f2f4c;
  //   border-color: darken(#2f2f4c, 20%);
  // }
}

.board.bottom {
  transform: translateZ(-75px);
  // cuboid /deep/ .face {
  //   background: #282123;
  //   border-color: darken(#282123, 20%);
  // }
}

.shadow {
  background: #eee;
  width: 720px;
  height: 480px;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-280px);
  -webkit-filter: blur(8px);
}
