<header>
  <div>
    <img class="logo" src="assets/aims-logo.png" [@logoEnter]>
    <h1 class="brand" [@brandEnter]>AIMS</h1>
  </div>
  <div class="heading" [@headingEnter]>
    <h1 class="title">SALES AND GROWTH TOOL</h1>
    <p class="subtitle">an initiative of AIMS</p>
  </div>
</header>
<main>
  <app-sidebar (selected)="setObjective($event)"></app-sidebar>
  <app-stack [highlightedElements]="selectedElements"></app-stack>
  <app-description [content]="selectedObjective.description"></app-description>
</main>
