@import '../shared/variables';

$width: 240px;
$height: 240px;
$depth: 8px;

.cuboid {
  position: relative;
  transform-style: preserve-3d;
  width: $width;
  height: $height;
}

.face {
  position: absolute;
  box-sizing: border-box;
  // Causes glitch
  // backface-visibility: hidden;

  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
  color: #efefef;
  font-family: $sans-serif-font-family;
  font-size: 1rem;
  transition: background .1s linear;

  display: flex;
  justify-content: center;
  align-items: center;

  &.front, &.back {
    width: $width;
    height: $height;
  }

  &.left, &.right {
    width: $depth;
    height: $height;
  }

  &.top, &.bottom {
    width: $width;
    height: $depth;
  }

  &.front {
    transform: translateZ($depth / 2);
  }

  &.back {
    transform: rotateY(180deg) translateZ($depth / 2);
  }

  &.left {
    transform: rotateY(-90deg) translateZ($depth / 2);
  }

  &.right {
    transform: rotateY(90deg) translateZ($width - ($depth / 2));
  }

  &.top {
    transform: rotateX(90deg) translateZ($depth / 2);
  }

  &.bottom {
    transform: rotateX(-90deg) translateZ($height - $depth / 2);
  }
}
